<!-- <h3 style="text-align:center">Horse race bet Application:</h3>
<h3 class="text-warning align-middle mx-auto" style="text-align:center">Better application</h3>
<app-better></app-better>
<h3 class="text-success align-middle mx-auto" style="text-align:center">Horse application</h3>
<app-horse></app-horse> -->
<h1>HorseRaceBetApi</h1>
<nav class="container class= sd-2 text-center">
  <a routerLink="/" routerLinkActive="active" class="mr-2 text-center" style ="text-align: center;
  font-size: 35px; color: rgb(43, 226, 195);">Better</a>
</nav>
<nav class="container class= sd-2 text-center">
    <a routerLink="/menus" routerLinkActive="active" class="mr-2 text-center" style ="text-align: center;
    font-size: 35px; color: rgb(43, 128, 226);">Horse</a>
  </nav>
<router-outlet></router-outlet>